@using Services.Models
<!DOCTYPE html>
<html lang="es">
@{
    ViewBag.Title = "CorruptDatabaseMessage";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personal</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        a {
            background-color: rgb(30, 100, 196);
            color: white;
            border-radius: 5px;
            padding: 5px;
            border-style: none;
            text-decoration:none;
        }

        .contenedor-botones-restore{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        .contenedor-botones {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size:12px
        }
    </style>
</head>

<body>
    <div class="centered-div">
        <div class="message">
            @if (Services.SessionManager.GetInstance != null && Services.SessionManager.GetInstance.User.IsAdmin)
            {
                <p>La base de datos está corrupta. Elija cómo proceder</p>
                using (Html.BeginForm("Restore", "Backup", FormMethod.Post))
                {
                    <div class="contenedor-botones">
                        <div class="contenedor-botones-restore">
                            <label for="file">Seleccione un archivo</label>
                            <input type="file" name="route" id="file" />
                            <br />
                            <input type="submit" value="Restaurar" />
                        </div>
                        <div>
                            <a href="@Url.Action("Login", "Login")">Recalcular Dígitos Verificadores</a>
                        </div>
                        <div>
                            <a href="@Url.Action("Login", "Login")">Salir</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p> Bersonal no está disponible en este momento. Vuelva más tarde y disculpe las molestias.</p>
                <a href="@Url.Action("Login", "Login")">Salir</a>
            }

        </div>
    </div>
</body>
</html>
